
.canvasfinish {
margin-left: 50%;
margin-right: 50%;
margin-top: 21%;
margin-bottom: 20%;

} 

#endsquare {
    height: 9vh;
    width: 9vh;
    border: 1px  solid  black;
}

#canvascarbox {

    top: 0;
    left: 0;
    position: absolute;
}

#canvascar  {
    height: 8vh;
    width: 8vh;
}









@media screen and (max-width:1250px) {
    .canvasfinish {
        margin-top: 30%; 
        }
}
@media screen and (max-width:1100px) {
    .canvasfinish {
        margin-top: 40%; 
        }
}
@media screen and (max-width:1000px) {
    .canvasfinish {
        margin-top: 45%; 
        }
}
@media screen and (max-width:900px) {
    .canvasfinish {
        margin-top: 40%; 
        }
}
@media screen and (max-width:800px) {
    .canvasfinish {
        margin-top: 45%; 
        }
}
@media screen and (max-width:700px) {
    .canvasfinish {
        margin-top: 50%; 
        }
}
@media screen and (max-width:600px) {
    .canvasfinish {
        margin-top: 60%; 
        }
}
@media screen and (max-width:600px) {
    .canvasfinish {
        margin-top: 60%; 
        }
}
@media screen and (max-width:600px) {
    .canvasfinish {
        margin-top: 80%; 
        }
}
@media screen and (max-width:400px) {
    .canvasfinish {

        margin-top: 400px;
 
        
        } 
}